summarizer/azure_key.txt
corpus.zip
corpus.zip
corpus
Requirements.txt
pdfminer-20140328
summarizer/unigrams.pyc
summarizer/__init__.pyc
summarizer/topic_analysis.pyc
temp.txt
input_cleaning/pdf2text.pyc
input_cleaning/pdf2txt.pyc
input_cleaning/__init__.pyc
app.pyc
input_cleaning/xmlCleaner.pyc
BotCredentials.py
