/*
 * Globals
 */

:root {
  --navyblue: #09163B;
  --grey: #D1D4DD;
  --scarlet: #F63C3D;
  --darkblue: #061326;
  --iceberg: #D6FAFA;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
a:hover {
  opacity: 0.5;
}

.custom-dropzone {
  position:relative;
  top:50px;
  height:170px;
  width:250px;
  margin:8px;
}

.extension-pane {
  border-right: var(--navyblue) 2px solid;
}

.extension-btn {
  margin: 5px !important;
  padding: 10px !important;
  padding-right: 20px;
}

.extension-btn:hover {
  background-color: #C1C2CE;
}

.main-pane {
  min-height: 300px;
  resize: vertical !important;
  overflow: auto !important;
  border-bottom: var(--navyblue) 2px solid;
  max-height: 70%;
}

i {
  vertical-align: middle !important;
}

.cases-content {
  border: var(--navyblue) 1px solid;
  margin: 5px;
  padding: 10px;
  min-height: 100px !important;
}

.summary-hierarchy {
  border-left: var(--navyblue) 2px solid;
  resize: horizontal !important;
  overflow: auto !important;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #000;
  text-shadow: none; 
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: var(--grey) !important;
}
body {
  color: #777;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}


/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Logo
 */
#logo {
  margin-top: -10px;
  float: left;
}

/*
 * Header
 */
.masthead-bav {
  float: right;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 10px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing  */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: var(--grey);
  border-bottom-color: #777;
}

.custom-nav > li > a {
  color: var(--grey) !important;
  padding-right: 20px;
}

.custom-nav > li > a:hover,
.custom-nav > li > a:focus {
  color: #fff !important;
  border-bottom: 3px solid var(--iceberg) !important;
  margin-top: 1px;
}

.custom-nav > li > a > i {
  color: var(--iceberg) !important;
  vertical-align: middle;
}

.custom-nav > li.market {
  background-color: var(--scarlet);
}

.custom-navbar-top {
  background-color: var(--darkblue);
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
#container img {
  display: inline-block;
}

#container:after {
  content: "";
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

/*
 * Search bar
 */

.search-box, .email-box {
  color: var(--navyblue);
  font-size: 16px;
  margin: 3px !important;
  padding: 5px !important;
  border: 0px;
  border-left: 3px solid var(--darkblue);
  background-color: #fff;
  z-index: -1;
}

.search-suggest, .email-suggest {
  font-size: 11px;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


/*
 * Extension bar
 */
 
.ext-div {
  position:absolute;
  left:30px;
  top:30%;
}
.ext-div > input, .ext-div > form > input {
  min-width: 130px;
  margin: 5px;
}

/*
 * Extensions table
 */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputbtn {
  margin: 10px;
  width: 200px;
  background-color: var(--scarlet);
  color: var(--iceberg);
  padding: 10px;
}

label {
  cursor: pointer;
  float: left;
}

.market-table > div:first-child {
  border-bottom: 3px solid white;
}

.nav_bar i,span {
  margin-left: 20px;
  margin-right: 20px;
}

.market-table > div.ext-row {
  padding: 3px;
  border-bottom: 1px solid white;
  text-align: center;
}

.market-table > div.ext-row:hover {
  background-color: rgba(0,0,0,0.3);
}

.redstyle {
  color: #c44b4b;
}

.greenstyle {
  color: #98c229;
}

.expand-ext {
  position: fixed;
  left: 40%;
  top: 30%;
  width: 20%;
  height: 40%;
  border-radius: 5px;
  border: 1px solid var(--scarlet);
  padding: 5px;
  z-index: 3;
  background-color: var(--grey);
}

.blanket-ext {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.close-ext {
  float: right;
}

/**
 * AboutUs Images
 */
#about-images {
  margin-top: 2%
}

/**
 * Team title
 */
 #team-title {
  margin-top: 10%;
 }

/**
 * styles for Profile.html
 */

.case-li {
  border: 1px solid #09163B;
  padding: 5px;
  margin-top: 20px;
}