/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
a:hover {
  opacity: 0.5;
}


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #000;
  text-shadow: none; 
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Roboto', sans-serif;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}


/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Logo
 */
#logo {
  margin-top: -10px;
  float: left;
}

/*
 * Header
 */
.masthead-bav {
  float: right;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 10px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing  */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
#container img {
  display: inline-block;
}

#container:after {
  content: "";
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

/*
 * Search bar
 */

.search-box, .email-box {
  font-size: 18px;
  padding: 3px;
  border: 1px solid green;
  background-color: #252525;
  z-index: -1;
}

.search-suggest, .email-suggest {
  font-size: 11px;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


/*
 * Extension bar
 */
 
.ext-div {
  position:absolute;
  left:30px;
  top:30%;
}
.ext-div > input, .ext-div > form > input {
  min-width: 130px;
  margin: 5px;
}

/*
 * Extensions table
 */

.market-table > div:first-child {
  border-bottom: 3px solid white;
}

.nav_bar i,span {
  margin-left: 20px;
  margin-right: 20px;
}

.market-table > div.ext-row {
  padding: 3px;
  border-bottom: 1px solid white;
  text-align: center;
}

.market-table > div.ext-row:hover {
  background-color: rgba(0,0,0,0.3);
}

.redstyle {
  color: #c44b4b;
}

.greenstyle {
  color: #98c229;
}

.expand-ext {
  position: fixed;
  left: 30%;
  top: 20%;
  width: 40%;
  height: 60%;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px;
  z-index: 2;
  background-color: #252525;
}

.blanket-ext {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.close-ext {
  float: right;
}

/**
 * AboutUs Images
 */
#about-images {
  margin-top: 2%
}

/**
 * Team title
 */
 #team-title {
  margin-top: 10%;
 }

/**
 * styles for Profile.html
 */

.case-li {
  border: 1px solid green;
  padding: 5px;
  margin-top: 20px;
}