div.output-frame {
    display: visible;
    height: 15%;
    width :100%;
    min-height: 75px;
    max-height: 100px;
    min-width: 100px;
    text-align: left;
    box-shadow:4px 4px 7px black;
    border: 1px solid black;
    background-color: #A9A9A9;
    bottom: 5%;
    color: white;
    overflow-y: scroll;
    margin-top: 5%;
    padding: 5px;
}
div.extension-frame {
    display: none;
    height: 10%;
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    min-width: 100px;
    box-shadow:4px 4px 7px black;
    border: 1px solid black;
    background-color: white;
    bottom: 5%;
    overflow-y: scroll;
}
.black-text {
    color: white;
    border: 2px solid green;
}
.extension-close {
    color: black;
}
.extension-frame-title {
    display:none;
}

.logintext {
    margin: 10px;
    font-size: 16pt;
    color: black;
}
