<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="legal advice web services for pro-bono cases">
    <meta name="author" content="Warut, Kabir, Nathan, Chiranth, Naveed, Owen">

    <title>law --less</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='styles/bootstrap.min.css')}}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{url_for('static', filename='styles/ie10-viewport-bug-workaround.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='styles/cover.css')}}" rel="stylesheet">

    <!-- Custom Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">

    <!-- Just for debugging purposes -->
    <script src="{{url_for('static', filename='scripts/ie-emulation-modes-warning.js')}}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('static', filename='scripts/ie10-viewport-bug-workaround.js')}}"></script>

  </head>

  <body style="font-family: 'Roboto', sans-serif" background="{{url_for('static', filename='icons/background.jpg')}}">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand" style="font-family: 'Open Sans', sans-serif;"><a href="/">
                <img src="{{url_for('static', filename='icons/logo.png')}}" width="75px" height="75px" alt="LL" style="float:left;margin-top: -10px">
              </a>law --less</h1>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="cases">Cases</a></li>
                  <li><a href="features">Features</a></li>
                  <li class="active"><a href="#">About Us</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
              <br><br>

              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <img src="{{url_for('static', filename='icons/Chiranth.jpg')}}" class="img-responsive img-circle" style:"width:100%;height:20px;" alt="Chiranth Kishore">
              </div>
              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <img src="{{url_for('static', filename='icons/Kabir.jpg')}}" class="img-responsive img-circle" style:"width:100%" alt="Kabir Manghnani">
              </div>
              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <img src="{{url_for('static', filename='icons/Naveed.jpg')}}" class="img-responsive img-circle" style:"width:100%" alt="Naveed Riaziat">
              </div>

              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <br><h5><b>Chiranth Kishore</b><br><i>Purdue University</i><br><small>Mechanical Engineering</small></h5>
              </div>
              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <br><h5><b>Kabir Manghnani</b><br><i>University of Illinois</i><br><small>Computer Science</small></h5>
              </div>
              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <br><h5><b>Naveed Riaziat</b><br><i>Purdue University</i><br><small>Mechanical Engineering</small></h5>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color:0,0,0,1;">
                <h3>Meet Our Interdisciplinary Team</h3>
                <br>
              </div>

              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <img src="{{url_for('static', filename='icons/Nathan.jpg')}}" class="img-responsive img-circle" style:"width:100%;height:20px;" alt="Chiranth Kishore">
              </div>
              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <img src="{{url_for('static', filename='icons/Owen.jpg')}}" class="img-responsive img-circle" style:"width:100%" alt="Kabir Manghnani">
              </div>
              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <img src="{{url_for('static', filename='icons/Warut.jpg')}}" class="img-responsive img-circle" style:"width:100%" alt="Naveed Riaziat">
              </div>

              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <br><h5><b>Nathan Narasimhan</b><br><i>University of Illinois</i><br><small>Computer Engineering</small></h5>
              </div>
              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <br><h5><b>Owen Li</b><br><i>Purdue University</i><br><small>Mechanical Engineering</small></h5>
              </div>
              <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <br><h5><b>Warut Vijit</b><br><i>University of Illinois</i><br><small>Computer Engineering</small></h5>
              </div>
          </div>

          <div class="mastfoot">
            <div class="inner" style="padding-bottom:2.5%">
              <p>legal advice web services |
                <a href="http://devpost.com">law --less</a> | by
                <a href="https://github.com/warut-vijit">Warut</a>,
                <a href="https://github.com/cabosanlucas">Kabir</a>,
                <a href="https://github.com/NAN1248">Nathan</a>,
                <a href="https://github.com/Chiranth7954">Chiranth</a>,
                <a href="https://github.com/nriaziat">Naveed</a>,
                <a href="https://github.com/owenli10">Owen</a></p>
            </div>

        </div>

      </div>

    </div>
  </body>
</html>
