<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>law --less</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='styles/bootstrap.min.css')}}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{url_for('static', filename='styles/ie10-viewport-bug-workaround.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='styles/cover.css')}}" rel="stylesheet">

    <!-- Just for debugging purposes -->
    <script src="{{url_for('static', filename='scripts/ie-emulation-modes-warning.js')}}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('static', filename='scripts/ie10-viewport-bug-workaround.js')}}"></script>

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">law --less</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="cases">Cases</a></li>
                  <li><a href="features">Features</a></li>
                  <li class="active"><a href="#">About Us</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h3 class="cover-heading"><b>Warut Vijit</b></h3>
            <p class="lead">University of Illinois, Computer Engineering</p>
            <img src="https://avatars3.githubusercontent.com/u/22158205?v=3&s=460" alt="Warut Vijit" class-"image">
            <h3 class="cover-heading"><b>Kabir Manghnani</b></h3>
            <p class="lead">University of Illinois, Computer Science</p>
            <img src="https://scontent.xx.fbcdn.net/v/t31.0-8/s960x960/10511636_690260944414156_942007579649707411_o.jpg?oh=65c942bd1e1498c26f432199009aa5a7&oe=5947CFAE" alt="Kabir Manghnani" class-"image">
            <h3 class="cover-heading"><b>Nathan Narasimhan</b></h3>
            <p class="lead">University of Illinois, Computer Engineering</p>
            <img src="https://avatars3.githubusercontent.com/u/18367556?v=3&s=400" alt="Nathan Narasimhan" class-"image">
            <h3 class="cover-heading"><b>Chiranth Kishore</b></h3>
            <p class="lead">Purdue University, Mechanical Engineering</p>
            <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13413021_1038504382884119_7137633169045242603_n.jpg?oh=bdcaa2219c39b1702dd5543efc6c5891&oe=592ADE2A" alt="Chiranth Kishore" class-"image">
            <h3 class="cover-heading"><b>Naveed Riaziat</b></h3>
            <p class="lead">Purdue University, Mechanical Engineering</p>
            <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/10989146_940107572680068_8527883772940941597_n.jpg?oh=7ce075ca3e19f06434f3e2ca44ab8cd5&oe=5944BB0B" alt="Naveed Riaziat" class-"image">
            <h3 class="cover-heading"><b>Owen Li</b></h3>
            <p class="lead">Purdue University, Mechanical Engineering</p>
            <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13620854_10206873603984253_6818444876586287992_n.jpg?oh=717fa4f51425dc1c9affa0c3c4f1a014&oe=593D41A9" alt="Owen Li" class-"image">
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>legal advice web services | <a href="http://devpost.com">law --less</a> | by Duke, Kabir, Nathan, Chiranth, Naveed, Owen</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
