<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="legal advice web services for pro-bono cases">
    <meta name="author" content="Warut, Kabir, Nathan, Chiranth, Naveed, Owen">

    <title>law --less</title>

      <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='styles/bootstrap.min.css')}}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{url_for('static', filename='styles/ie10-viewport-bug-workaround.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='styles/cover.css')}}" rel="stylesheet">

    <!-- Custom Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Google Icon Set -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Just for debugging purposes -->
    <script src="{{url_for('static', filename='scripts/ie-emulation-modes-warning.js')}}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('static', filename='scripts/ie10-viewport-bug-workaround.js')}}"></script>

    <!-- JavaScript HTTP Request -->
    <script>
      var initialState = true;
      var clientID = Math.floor(Math.random()*1000000)+""
      function call_api_generic(addr, params) {
          var address = addr+'?';
          for(var index=0;index<Object.keys(params).length;index++){
              if(index>0){address+="&";}
              address += Object.keys(params)[index]+"="+params[Object.keys(params)[index]]
          }
          var xhr = new XMLHttpRequest();
          xhr.open('GET', address);
          xhr.send(null);
          xhr.onreadystatechange = function () {
            var DONE = 4; // readyState 4 means the request is done.
            var OK = 200; // status 200 is a successful return.
            if (xhr.readyState === DONE) {
              if (xhr.status === OK) {
                return xhr.responseText;
              }
            }
          };
      }
      function toggle_briefing () {
        if(initialState){
          get_target();
          initialState=false;
        }
        document.getElementById("output").style.display = document.getElementById("output").style.display == "none" ? "block" : "none";
      }
      function get_target() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/get-target');
        xhr.send(null);
        xhr.onreadystatechange = function () {
          var DONE = 4; // readyState 4 means the request is done.
          var OK = 200; // status 200 is a successful return.
          if (xhr.readyState === DONE) {
            if (xhr.status === OK) {
              document.getElementById("output").innerHTML = xhr.responseText;
            }
          }
        };
      }
      function download() {
        get_target();
        var link = document.createElement("a");
        link.href = 'data:text/plain;charset=utf-8,' + document.getElementById("output").innerHTML;
        link.download = "law--less.txt";
        link.click();
      }
    </script>

    <!-- Bootstrap Dropzone JavaScript -->
    <script src = "{{url_for('static', filename='scripts/dropzone-4.3.0/dist/dropzone.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='scripts/dropzone-4.3.0/dist/dropzone.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}" rel="stylesheet">

  </head>

  <body style="font-family: 'Roboto', sans-serif" background="{{url_for('static', filename='icons/background.png')}}">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <a href="/">
                <img src="{{url_for('static', filename='icons/logo.png')}}" width="40%" height="20%" alt="LL" style="float:left;margin-top: -10px">
              </a>

              <!-- Navigation toolbar for insite navigation -->
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="#">Cases</a></li>
                  <li><a href="features">Features</a></li>
                  <li><a href="contribute">Contribute</a></li>
                  <li><a href="aboutus">About Us</a></li>
                </ul>
              </nav>

            </div>
          </div>

          <!-- Content of slide -->
          <div class="inner cover">
            <form id="dropzone" action="/upload-target" class="dropzone black-text"></form>
            <br>
            <input type="button" class="btn btn-large" onclick="toggle_briefing()" value="Load Briefing">
            <input type="button" class="btn btn-large" onclick="download()" value="Download Briefing">
            <br>

            <div class="output-frame">
              <p id="output" style="display:none"></p>
            </div>
            <div class="ext-div">
              <h4>Extensions</h4>
              {{extensions|safe}}
              <input type="button" onclick="window.open('market')" class="btn btn-large" value="+">
            </div>
            <div id="extensionFrame" class="extension-frame">
              <p id="extensionFrameTitle" class="extension-frame-title"></p>
              <i class="material-icons extension-close" onclick="document.getElementById('extensionFrame').style.display='none';">clear</i>
            </div>
          </div>

          <!-- Footer with links to author GitHubs and other source information -->
          <div class="mastfoot">
            <div class="inner" style="padding-bottom:2.5%">
              <p>legal advice web services |
                <a href="http://devpost.com">law --less</a> | by
                <a href="https://github.com/warut-vijit">Warut</a>,
                <a href="https://github.com/cabosanlucas">Kabir</a>,
                <a href="https://github.com/NAN1248">Nathan</a>,
                <a href="https://github.com/Chiranth7954">Chiranth</a>,
                <a href="https://github.com/nriaziat">Naveed</a>,
                <a href="https://github.com/owenli10">Owen</a></p>
            </div>
        </div>

      </div>

    </div>
  </body>
</html>
